<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e677af">  <td>21/08/13 23:06:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SOCreation.setExtent()[pri:0, instance:com.qa.testcases.SOCreation@363ee3a2]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e677af">  <td>21/08/13 23:06:39</td>   <td>430</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SOCreation.setUp()[pri:0, instance:com.qa.testcases.SOCreation@363ee3a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e677af">  <td>21/08/13 23:07:00</td>   <td>21668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SOCreation.TradeOrderCarpetVinyl()[pri:0, instance:com.qa.testcases.SOCreation@363ee3a2]">TradeOrderCarpetVinyl</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e677af">  <td>21/08/13 23:07:00</td>   <td>21729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SOCreation.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.SOCreation@363ee3a2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e677af">  <td>21/08/13 23:07:00</td>   <td>21733</td> <td>&nbsp;</td><td title="&lt;&lt;SOCreation.endReport()[pri:0, instance:com.qa.testcases.SOCreation@363ee3a2]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
</table>
